.order-table {
    border-radius: 10px;
    overflow: hidden;
}

.order-table thead {
    background-color: #007bff;
    color: white;
}

.order-table tbody tr:hover {
    background-color: #f1f1f1;
}

.status-badge {
    padding: 6px 12px;
    border-radius: 12px;
    font-weight: bold;
}

.status-รอดำเนินการ {
    background-color: #ffc107;
    color: black;
}

.status-กำลังจัดส่ง {
    background-color: #17a2b8;
    color: white;
}

.status-สำเร็จ {
    background-color: #28a745;
    color: white;
}

.status-ยกเลิก {
    background-color: #dc3545;
    color: white;
}
.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    margin-bottom: 250px;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
}

.pagination .page-link {
    /* border-radius: 50px;  ปรับรูปทรง */
    padding: 10px 20px;   /* ขนาดปุ่ม */
}

.pagination .page-link:hover {
    background-color: #0056b3;
    color: white;
}
