/* styles_index.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('img/nsru2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8); /* เพิ่มความทึบให้กับพื้นหลัง */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
}

h1 {
    color: #009688; /* สีเขียว */
}

form {
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    margin-bottom: 15px;
    padding: 10px;
}

button {
    background-color: #009688; /* สีเขียว */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00796b; /* สีเขียวเข้ม */
}

a {
    color: #009688; /* สีเขียว */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #FFEB3B; /* เปลี่ยนเป็นสีเหลืองเมื่อชี้ */
}

p {
    color: #FF5722; /* สีแดงสำหรับข้อความแสดงผล */
}
